.container {
	/* background-color: rgb(32, 27, 27); */
	display: flex;
}

.left__section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 40%;
}

.main__text {
	position: relative;
	left: 28px;
	font-family: "Poppins", sans-serif;
}

.logo {
	height: 500px;
	object-fit: contain;
}

.right__section {
	/* background-color: rgb(35, 35, 31); */
	height: 100vh;
	width: 59%;
}

.right__section-heading {
	font-family: "Poppins", sans-serif;
	position: relative;
	left: 10px;
	font-size: x-large;
}

.button__container {
	display: flex;
	justify-content: space-around;
}

.form__container {
	width: 700px;
	position: relative;
	left: 27px;
	top: 20px;
	height: 150px;
	border-radius: 3px;
	background: #e0e0e0;
	box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
	display: flex;
	align-items: center;
}
