@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
	margin: 0;
	padding: 0;
}

.button {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.button:active {
	transform: translateY(-1px);
}

a {
	text-decoration: none;
	position: relative;
	transition: all 0.3s ease-in-out;
}

a:hover::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background-color: #333;
	transition: all 0.3s ease-in-out;
}

.input {
	width: 200px;
	height: 30px;
	padding: 10px;
	outline: none;
	background: #e8e8e8;
	box-shadow: 5px 5px 17px #c8c8c8, -5px -5px 17px #ffffff;
	border: none;
	border-radius: 10px;
	transition: all 0.5s;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
}

.input:focus {
	background: #e8e8e8;
	box-shadow: inset 5px 5px 17px #c8c8c8, inset -5px -5px 17px #ffffff;
}

.cta {
	position: relative;
	margin: auto;
	padding: 12px 18px;
	transition: all 0.2s ease;
	border: none;
	background: none;
}

.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 50px;
	background: #b1dae7;
	width: 45px;
	height: 45px;
	transition: all 0.3s ease;
}

.cta span {
	position: relative;
	font-family: "Ubuntu", sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.05em;
	color: #234567;
}

.cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #234567;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.cta:hover:before {
	width: 100%;
	background: #b1dae7;
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active {
	transform: scale(0.95);
}
